#admin-page {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    align-self: center;
}

#admin-page-contents {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    align-self: center;
}

.admin-page-btn {
    height: 40px;
    background-color: rgb(176, 255, 180);
}