#login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: antiquewhite;
    width: 500px;
    align-self: center;
    border-radius: 40px;
    padding: 20px;
    border-width: 0 10px 10px 0;
    border-style: solid;
    border-color: rgb(189, 167, 139);
}

#login-btn {
    margin-top: 15px;
    background-color: #f2a4c6;
    border-width: 0 4px 4px 0;
    border-style: solid;
    border-color: #a56581;
}

#login-btn:hover {
    background-color: #ff5ea4;
}

#login-msg {
    color: red;
}