.nav-bar {
    background-color: #b7ffb9;
}

.nav-bar p {
    font-size: large;
    color: #ff0000;
    padding-left: 20px;
}

.nav-bar button {
    background-color: #ffbbdc;
    padding: 5px;
    margin: 5px;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

/*tablet mode*/
@media (min-width: 500px) {}

/*desktop mode*/
@media (min-width: 1024px) {}