.nav-bar button {
    background-color: #f2a4c6;
    padding: 10px;
    margin: 5px;
}

nav {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: flex-start;
    max-height: 50px;
    background-color: rgb(120, 255, 94);
}