.wordtable {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    align-self: center;
    background-color: #ffceff;
    list-style-type: none;
    width: 90%;
    max-height: 400px;
    overflow-y: auto;
    border-radius: 40px;
    padding: 10px;
}