.wordtable {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    /* max-height: 600px; */
    /* overflow-y: auto; */
    background-color: rgb(184, 184, 255);
}

.wordtable div {
    display: contents;
}

.wordtable {
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration-line: underline;
}