.english-word,
.finnish-word,
.swedish-word,
.wordpair-tag {
    padding: 10px;
    margin: 0px;
}

.english-word {
    background-color: #ff000098;
}

.finnish-word {
    background-color: #00e1ff;
}

.swedish-word {
    background-color: #eeff00;
}

.wordpair-tag {
    background-color: #ff7af8;
}