.english-word,
.finnish-word,
.swedish-word,
.wordpair-tag {
    padding: 10px;
    margin: 0px;
}

.english-word {
    background-color: #ff000098;
}

.finnish-word {
    background-color: #00e1ff;
}

.swedish-word {
    background-color: #eeff00;
}

.wordpair-tag {
    background-color: #ff7af8;
}

.edit-word-btn {
    margin: 0 5px;
    background-color: rgb(194, 255, 197);
    border-radius: 3px;
    border-width: 5px;
    border-style: outset;
    border-color: rgb(153, 255, 143);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.edit-word-btn:hover {
    background-color: rgb(169, 255, 158);
    border-style: inset;
}